### Exercício 11 – Mini Boss - Coop
#### ✦ Crie e exiba um dataframe musicas com informações sobre suas músicas favoritas ( 5 músicas ):
#### ✦ id_musica – identificador da música.
#### ✦ nome_musica – nome da música.
#### ✦ artista – nome do artista ou banda
#### ✦ genero – gênero musical (Pop, Rock, Jazz, etc.)
#### ✦ duracao – duração da música em minutos.

In [34]:
import pandas as pd

In [35]:
dados_musicas = {
    'id_musica': [1, 2, 3, 4, 5],
    'nome_musica': ['Jesus Chorou', 'Um bom lugar', 'Favela Sinistra', 'Bohemian Rhapsody', 'Bornie to Die'],
    'artista': ['Racionais', 'Sabotage', 'Trilha Sonora do Gueto', 'Queen', 'Lana del Rey'],
    'genero': ['Rap','Rap', 'Rap', 'Rock', 'Alternativa/Indie' ],
    'duracao': [07.52, 05.39, 03.36, 05.54, 04.47]
}

df_musicas = pd.DataFrame(dados_musicas)
df_musicas

,id_musica,nome_musica,artista,genero,duracao
0,1,Jesus Chorou,Racionais,Rap,7.52
1,2,Um bom lugar,Sabotage,Rap,5.39
2,3,Favela Sinistra,Trilha Sonora do Gueto,Rap,3.36
3,4,Bohemian Rhapsody,Queen,Rock,5.54
4,5,Bornie to Die,Lana del Rey,Alternativa/Indie,4.47

In [36]:
dados_reproducoes = {
    'id_reproducao': [101, 102, 103, 104, 105],
    'id_musica': [1, 2, 3, 4, 5],
    'data_reproducao': ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05'],
    'duracao_reproducao': [3.03, 5.55, 7.30, 4.00, 6.30] 
}

df_reproducoes = pd.DataFrame(dados_reproducoes)
df_reproducoes

   id_reproducao  id_musica data_reproducao  duracao_reproducao
0            101          1      2024-10-01                3.03
1            102          2      2024-10-02                5.55
2            103          3      2024-10-03                7.30
3            104          4      2024-10-04                4.00
4            105          5      2024-10-05                6.30

In [44]:
# Simulando novas 5 reproduções com diferentes músicas
novas_reproducoes = {
    'id_reproducao': [106, 107, 108, 109, 110],
    'id_musica': [2, 3, 1, 5, 4],
    'data_reproducao': ['2024-10-06', '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-10'],
    'duracao_reproducao': [5.00, 6.50, 3.03, 6.00, 4.54]  # Algumas reproduções podem ser parciais
}

# Adicionando as novas reproduções ao dataframe original de reproduções usando concat
df_reproducoes = pd.concat([df_reproducoes, pd.DataFrame(novas_reproducoes)], ignore_index=True)

# Realizando o merge entre os dataframes musicas e reproducoes pela coluna id_musica
df_merged = pd.merge(df_reproducoes, df_musicas, on='id_musica')

# Selecionando e exibindo nome da música, artista e duração reproduzida
df_resultado = df_merged[['nome_musica', 'artista', 'duracao_reproducao']]
df_resultado

         nome_musica                 artista  duracao_reproducao
0       Um bom lugar                Sabotage                5.00
1    Favela Sinistra  Trilha Sonora do Gueto                6.50
2       Jesus Chorou               Racionais                3.03
3      Bornie to Die            Lana del Rey                6.00
4  Bohemian Rhapsody                   Queen                4.54
5       Um bom lugar                Sabotage                5.00
6    Favela Sinistra  Trilha Sonora do Gueto                6.50
7       Jesus Chorou               Racionais                3.03
8      Bornie to Die            Lana del Rey                6.00
9  Bohemian Rhapsody                   Queen                4.54